{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login Page{% endblock %}

{% block content %}
  <h1>Login</h1>
  <div class="row">
    <div class="col-4">
      <form method="post">
        {% csrf_token %}
        {{ login_form | crispy }}
        <button type="submit" class="btn btn-primary" >Log in</button> <span class="ms-4">Not a member? Then, <a href="{% url 'users:signup' %}" class="btn btn-outline-success">Sign Up</a></span>
      </form>
    </div>
  </div>
{% endblock %}
