{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Book Detail Page{% endblock %}


{% block content %}

    <div class="row mx-auto mb-4">
        <div class="col-1">
            <img class="cover-pic" src="{{ book.cover_picture.url }}" alt="Book Cover Image">
        </div>

        <div class="col-8 mx-auto">
            <h3>{{ book.title }}</h3>

            <span class="fst-italic">
                Authored by
                {% for book_author in book.bookauthor_set.all %}
                    {% if forloop.last %}
                        {{ book_author.author.full_name }}
                    {% else %}
                        {{ book_author.author.full_name }},
                    {% endif %}
                {% endfor %}
            </span>

            <p>
                {{ book.description }}
            </p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-6">
            <form method="post" action="{% url 'books:reviews' book.id %}">
                {% csrf_token %}
                {{ review_form | crispy }}

                <button class="btn btn-outline-success">Add review</button>
            </form>
        </div>
    </div>

    {% if book.bookreview_set.exists %}
        <h4>Reviews</h4> <hr>

        {% for review in book.bookreview_set.all %}
            <div class="row mb-3">
                <div class="col-1">
                    <img class="small_profile_pic" src="{{ review.user.profile_picture.url }}" alt="profile img">
                </div>
                <div class="col-8">
                    <b>{{ review.user.username }}</b> rated it {{ review.stars_given }} stars. <span class="fw-lighter">{{ review.created_at }}</span>
                    {% if review.user == request.user %}
                        <a href="{% url 'books:edit-review' book.id review.id %}"><i class="bi bi-pen"></i></a>
                        <a href="{% url 'books:confirm-delete-review' book.id review.id %}"><i class="bi bi-trash"></i></a>
                    {% endif %}
                    <p class="mt-2 font-monospace">{{ review.comment }}</p>
                </div>
        {% endfor %}
    {% else %}
                <div class="col-2 mx-auto">
                    <hr>
                <h4 class="nav-link disabled btn-warning "><span class="position-relative start-0">No reviews yet</span></h4>
                </div>
    {% endif %}
{% endblock %}
